.color {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.first-button {
  background-color: black;
}

.second-button {
  background-color: #9b7dd4;
}

.third-button {
  background-color: #ffc56e;
}

.fourth-button {
  background-color: #5bc2e7;
}

#pixel-board {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px;
}

.pixel {
  width: 40px;
  height: 40px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
